
#Col_nom{
    background-color: rgb(24, 152, 211);
    margin-bottom: 8px;
    box-shadow: rgb(85, 84, 84) 5px  3px 3px;
    color: rgb(250, 250, 250);
    
    
    
}

#p_nom{
    text-shadow: 2px 2px 5px black;
    
}
#p_ofi{
    text-shadow: 2px 2px 5px black;
}
 

i{
    color: rgb(250, 250, 250);
    text-shadow: 2px 2px 5px black;
    font-weight: 500;
    font-size: medium;
    
}

/* Foto y datos */

#Col_3_fd{
    background-color: rgb(24, 152, 211);
    text-shadow: 2px 2px 5px black;
    box-shadow: rgb(85, 84, 84) 5px  3px 3px;
    border: 0px;
    margin-bottom: 8px;
    

}

/* Habilidades */
#Col_3_hab{
    background-color: rgb(24, 152, 211);
    text-shadow: 2px 2px 5px black;
    box-shadow: rgb(85, 84, 84) 5px  3px 3px;
    margin-bottom: 8px;
    padding-top: 5px;
    

    
}

.hab_1{
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: medium;
    color: rgb(250, 250, 250);
    text-shadow: 2px 2px 5px black;
    
}

.hab_2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: medium;
    color: rgb(250, 250, 250);
    text-shadow: 2px 2px 5px black; 
}

.hab_3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: medium;
    color: rgb(250, 250, 250);
    text-shadow: 2px 2px 5px black; 
}

/* Barra de progreso */
.progress {
    height: 25px;
    width: 100%;
    border: 1px solid #428bca;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px black; 
}
 
.progress-bar {
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 5px black; 
    border-radius: 3px;
    
}
 
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
     
}

/* Columna de perfil / Experiencia / Estudios */

#col_p_ex_es{
    padding: 0px 0px;
    margin-bottom: 8px;
    width: 712px;
    margin-left: 8px;
    box-shadow: rgb(85, 84, 84) 5px  3px 3px;
    
    
    
    
  }
  
  /* Perfil */
  
  #Boton_perfil{
      background-color: rgb(24, 152, 211);
      color: rgb(250, 250, 250);
      border-radius: 0%;
  }
  
  #col_acordion_perfil{
      border-radius: 0%;
      
  }
      
  /* Experiencia */ 
  
  #Boton_exp{
      background-color: rgb(24, 152, 211);
      color: rgb(250, 250, 250);
      border-radius: 0%;
  }
  
  #col_acordion_exp{
      border-radius: 0%;
      
  }
  
  /*Estudios*/
  
  #Boton_est{
      background-color: rgb(24, 152, 211);
      color: rgb(250, 250, 250);
      border-radius: 0%;
  }
  
  #col_acordion_est{
      border-radius: 0%;
      
  }
  